In [1]:
import pandas as pd
import seaborn as sns

In [2]:
raw_data = {
    'Name' : ['Mahesh', 'Aswin', 'Vishva', 'Devi'],
    'Age' :[21, 22, 18, 40]
}
df = pd.DataFrame(raw_data)
df

     Name  Age
0  Mahesh   21
1   Aswin   22
2  Vishva   18
3    Devi   40